.buttonPage {
    padding: 10px 14px;
    border: 1px solid #e5e5e5;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px #e5e5e5;
}
.buttonPage:hover {
    background-color: #e0e0e0;
}
.activePage {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}