.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.containerTable {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.row {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-bottom: 15px;
    gap: 10px;
}

.column {
    display: flex;
    justify-content: space-between;
}

.labelGroup {
    width: 200px;
}

.inputGroup {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fullWidthGroup {
    display: flex;
    align-items: center;
    width: 75%;
    gap: 10px;
    margin-bottom: 15px;
}

.input {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.inputTwo {
    width: 500px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.button, .buttonEdit, .buttonCancel, .buttonPage, .buttonDelete {
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button {
    padding: 10px 10px;
    background-color: rgb(225, 124, 0);
}
.buttonEdit {
    padding: 10px 10px;
    background-color: #0d6efd;
}
.buttonDelete {
    padding: 10px 10px;
    background-color: #dc3545;
}
.buttonCancel {
    padding: 10px 20px;
    background-color: #4e4e4e;
}
.buttonPage {
    padding: 10px 10px;
    background-color: rgb(225, 124, 0);
}
.button:hover, .buttonCancel:hover, .buttonPage:hover {
    background-color: rgb(215, 95, 0);
}
.buttonEdit:hover {
    background-color: #0b5ed7;
}
.buttonDelete:hover {
    background-color: #c82333;
}
.activePage {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}
.select {
    padding: 8px 12px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    width: 150px;
    transition: border-color 0.3s ease;
}
.select:focus {
    border-color: #007bff;
}
.term {
    border: 1px solid black;
    width: 165px;
    padding: 0 5px;
    margin-left: 15px;
    margin-bottom: -15px;
    background-color: white;
    z-index: 1;
    position: relative;
}
.termText {
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px 10px;
    margin-bottom: 10px;
}
.tableHead{
    display: grid;
    grid-template-columns: 50px 1fr 100px 100px 150px 150px 150px;
    border: solid black 1px;
}